@import url('https://fonts.googleapis.com/css?family=Amatic+SC:100,200,300,400,500,600,700|Josefin+Sans:100,200,300,400,500,600,700');

/*-------------------------------------------------------------Colours  */
/*-----possible change image background color-------------------------------------------------note---*/
/*
html {
    background-color: #525252;
}
*/
.bg-color-name-title {
    background-color: #28184f;
}

.bg-color-side-panel {
    background-color: #c1ffcf;
}

.bg-color-main-panel {
    background-color:#f9cdea;
} 
.ui-menu-color-home {
  background-color: #cc5ba6;
    color:#c1ffcf;
}

.ui-menu-color-about {
    background-color: #38ad53;
    color: #f9cdea;
}

.ui-menu-color-books {
  background-color: #cc5ba6;
    color:#c1ffcf;
}
.ui-menu-color-links {
    background-color: #38ad53;
    color: #f9cdea;
}

.social-links li a i:hover {
    background-color: deeppink;
}

.general-sub:hover{
    color:#8c005a;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.main-section-heading {
    color:#188a32;
    text-align: center;
}

.side-panel-heading {
    color:#8c005a;
}

.section-heading {
    font-family:"Amatic SC", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 40px;
}

.bg-main-image {
    background: url("../images/kendradino.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height:360px;
}

/*-------------------------------------------------------------Heading  */

h1, 
h2, 
h3, 
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family:"Amatic SC", sans-serif;
    font-weight:bold;
    color: #fafafa;
    font-size: 25px;
    
          /*-------------------------------------------------- adjust color*/    
}
.general-sub:hover{
    color:#8c005a;
}

/*-------------------------------------------------------------Heading  */
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}
/*-----possible change image background color-------------------------------------------------note---*/
.logo {
    background: url("../images/kendra.jpg");
    background-color: #28184f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height:360px;
    transition: all .5s ease-in-out;
    -mox- transition: all .5s ease-in-out;
    -webkit- transition: all .5s ease-in-out;
}

.header-bg-image {
                                            /*background: url("../images/kendraheading.jpg");  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height:360px;
}

/*
.layer {
    background-color: rgba(0, 0, 0, 0.8);
}
*/
.name {
    font-family: "Amatic SC", sans-serif;
    font-weight: 100;
    font-size: 55px;
    margin-top: 50px;
    color:#fff; /*---------------------------------------------font color?*/
    }
.title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#fff; /*---------------------------------------------font color?*/
}

.subtitle {
    font-size: 25px;
    margin-bottom: 25px;
    font-family:"Josefin Sans", sans-serif;
    font-weight:300;
    color: #fafafa; 
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff; 
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}



.menuitem span {  
            /* ---------------play with this section-----------note*/
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-------------------------------------------------------------Hover.css  *

.hvr-radial-out:before {
    background: rgba( 0, 0, 0, 0.2)
    height: 120px;
}

*/

/*-------------------------------------------------------------Footer-*/

footer {
    background-color:#38ad53;   /*-------------------------------------------------------------colors*/
    min-height: 120px;
    margin:0;
}

.inline-block {
    display: inline-block;
}

.footer-about a
.footer-books a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    text-align: center;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius:50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35 ease-in-out;
    -moz- transition: all 0.35 ease-in-out;
    -webkit- transition: all 0.35 ease-in-out;
    -o- transition: all 0.35 ease-in-out;
}

#footer-details {
    padding: 20px;
}

.footer-link {
    color:#fff;
}

a.hvr-grow.footer-link:hover {
    text-decoration: none;
    color: #8c005a;
}

/* ----------------------------------------Bio */

.bio-icon {
    font-size: 26px;
}

.bio-heading {
    margin-bottom: 15px;
}

.bio-blurb {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

/* ----------------------------------------Side-panel */

.side-panel-text {
    font-family: "Josefin Sans", sans-serif;
}

.side-panel-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    color:#8c005a;
}

.side-panel-item .key,
.side-panel-item .value {
    padding-right: 8px;
    display: inline-block;
}

.side-panel-item .key p,
.side-panel-item .value p {
    margin: 0;
}

/*
.side-panel-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}
*/
/*
.side-panel-item .value {
    position: relative;
    width: 60%;
}
*/

.side-panel-link a { 
    text-decoration: none;
    color: #8c005a;
    width: 100%;
    text-align: center;

}

/*
.homepage a:hover {
    text-decoration: none;
    color: #fff;
}
*/
/*-----------------------------------------------------------------------Books--*/

.main-book-div {
    background-color: #28184f;
}

.h3-book-heading {
    color:#c1ffcf;
    padding-top: 20px;
}

.category-titles {
    font-family: "Amatic SC", sans-serif;
    font-size: 35px;
    color:#188a32;
}

.books {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: hsl(257, 53%, 20%);
}

.books-list {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: hsl(257, 53%, 20%);
    padding-top: 15px;

}

.books-list.hvr-grow:hover {
    text-decoration: none;
    color: #188a32;
}

.show-me-heading {
text-align: center;
font-family:"Amatic SC", sans-serif;
font-size: 36px;
color: #28184f;
}


.specific-books {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #8c005a29;
}

.collaborating-authors {
    color:#188a32;
}

.series-div {
    margin-top:36px;
    margin-bottom:30px;
}

.category-titles,
.book-summary h4,
.series-div h5 {
    background-color: #8c005a;
    color:#c1ffcf;
    padding-top:20px;
    padding-bottom: 20px;
    font-family:"Amatic SC", sans-serif;
    font-size: 33px;
    text-align: center;
    margin-bottom: 15px;
}

.summary-book-list,
.book-div {
    background-color: #f79bd7;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 70px;

}
.book-div h6 {
    font-family:"Amatic SC", sans-serif;
    font-size: 33px;
}

.show-me-heading.hvr-grow:hover {
    text-decoration: none;
    color: #188a32;
}

.amazon-button {
   align-items: right;
    margin-top: 30px;
}

.amazon-button-div {
    display: flex;
    justify-content: flex-end;
}

.book-description {
    background-color: #f79bd7;
    font-family: "Josefin Sans", sans-serif;
}

/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }

  /*  .side-panel-heading
    .side-panel-item {
        text-align: center;
    }*/
}