@import url('https://fonts.googleapis.com/css?family=Amatic+SC:100,200,300,400,500,600,700|Josefin+Sans:100,200,300,400,500,600,700');

/*-------------------------------------------------------------Colours  */
/*-----possible change image background color-------------------------------------------------note---*/
/*
html {
    background-color: #525252;
}
*/
.bg-color-name-title {
    background-color: #676767;
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-about {
    background-color: #9b59b6;
}

.ui-menu-color-books {
    background-color: #3498db;
}
.ui-menu-color-links {
    background-color: #525252;
}
/*-------------------------------------------------------------Heading  */

h1, 
h2, 
h3, 
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general.sub {
    font-family:"Josefin Sans", sans-serif;
    font-weight:300;
    color: #fafafa;  /*-------------------------------------------------- adjust color*/
}

/*-------------------------------------------------------------Heading  */
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}
/*-----possible change image background color-------------------------------------------------note---*/
.logo {
    background: url("../images/kendra.jpg");
    background-color: #3b2a80;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height:360px;
    transition: all .5s ease-in-out;
    -mox- transition: all .5s ease-in-out;
    -webkit- transition: all .5s ease-in-out;
}

.name {
    font-family: "Amatic SC", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color:#fff; /*---------------------------------------------font color?*/
    }
.title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color:#fff; /*---------------------------------------------font color?*/

}
.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}


.menuitem span {  
            /* ---------------play with this section-----------note*/
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-------------------------------------------------------------Hover.css  *

.hvr-radial-out:before {
    background: rgba( 0, 0, 0, 0.2)
    height: 120px;
}

*/

/*-------------------------------------------------------------Footer-*/

footer {
    background-color:#525252;
    color: #fafafa;   /*-------------------------------------------------------------colors*/
    min-height: 120px;
    margin:0;
}

.inline-block {
    display: inline-block;
}

.footer-about a
.footer-books a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    text-align: center;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius:50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35 ease-in-out;
    -moz- transition: all 0.35 ease-in-out;
    -webkit- transition: all 0.35 ease-in-out;
    -o- transition: all 0.35 ease-in-out;
}

.social-links li a i: hover {
    background: #e84610;
} 

#footer-details {
    padding: 20px;
}

.footer-link {
    color:#fff;
}

a.hvr-grow.footer-link:hover {
    text-decoration: none;
    color: deeppink;
}